<li>
  <aside>
    <section class="user_info">
      <h1>
        <%= gravatar_for user, size: Settings.avatar_size %>
        <%= link_to user.name, user %>
      </h1>
    </section>
  </aside>
</li>
