<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
    </aside>
    <aside class="col-md-4">
      <h1><%= t "title.admin_page" %></h1>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "title.home" %></h1>
    <%= link_to t("title.home1"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
